DJANGO_ENV=development
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=replace-with-a-long-random-secret
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
MAKOLO_PUBLIC_BASE_URL=http://127.0.0.1:8000
PAYMENTS_SANDBOX_ENABLED=True
PAYMENTS_WEBHOOK_SECRET=replace-with-a-random-webhook-secret

# Production e-mail example
# DJANGO_EMAIL_HOST=smtp.example.com
# DJANGO_EMAIL_PORT=587
# DJANGO_EMAIL_USE_TLS=True
# DJANGO_EMAIL_HOST_USER=
# DJANGO_EMAIL_HOST_PASSWORD=
# DJANGO_DEFAULT_FROM_EMAIL=Makolo <noreply@example.com>
